body{
	width: 100%;
	height: 500px; 
}
.container{
	
}
#main-container{
	display: flex;
	justify-content: center;
	width: 70%;
}
#div1{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 200px;
	background-color: #B40404;
	height: 400px;
	margin: 20px;
	box-shadow: 8px 8px 10px #999;
}
#div2{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 200px;
	align-items: center;
	background-color: #D7DF01;
	height: 400px;
	margin: 20px;
	box-shadow: 8px 8px 10px #999;
}
#div3{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 200px;
	align-items: center;
	background-color: #04B404;
	height: 400px;
	margin: 20px;
	box-shadow: 8px 8px 10px #999;
}
.item-1{
	width: 80%;
	margin: 5px;
	background-color: #FE2E2E;
	height: 90px;
	box-shadow: 8px 8px 10px #F5A9A9;
}
.item-2{
	width: 80%;
	margin: 5px;
	background-color: #F7FE2E;
	height: 90px;
	box-shadow: 8px 8px 10px #F5F6CE;
}
.item-3{
	width: 80%;
	margin: 5px;
	background-color: #2EFE2E;
	box-shadow: 8px 8px 10px #CEF6CE;
	height: 90px;
}